name: Go

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - name: Set up Go
      uses: actions/setup-go@v4
      with:
        go-version: '1.24'
        
    - name: Tidy
      run: go mod tidy && git diff --exit-code

    - name: Install protoc plugins
      run: |
        go install google.golang.org/protobuf/cmd/protoc-gen-go@latest
        go install ./cmd/symphony-gen-arpc/protoc-gen-symphony
        go install ./cmd/symphony-gen-arpc/protoc-gen-arpc
        echo "$(go env GOPATH)/bin" >> $GITHUB_PATH

    - name: Install protoc plugins
      run: |
        go install ./cmd/symphony-gen-arpc/protoc-gen-symphony
        go install ./cmd/symphony-gen-arpc/protoc-gen-arpc
        echo "$(go env GOPATH)/bin" >> $GITHUB_PATH

    - name: Generate code
      run: |
        cd cmd/symphony-gen-arpc/test
        protoc --symphony_out=paths=source_relative:. --go_out=paths=source_relative:. test.proto

    - name: Vet
      run: go vet ./...

    - name: Build
      run: go build -v ./...

    - name: Test
      run: go test -v ./...
